main {
  #our-services {
    padding: $padding-main;
    background: $bgclr-gray;

    h2 {
      margin-bottom: 60px;
    }

    .cards {
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
      justify-content: center;

      .card {
        width: 350px;
        height: 360px;
        background-image: url("/media/images/item.png");
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: end;
        justify-content: start;
        padding: 3%;
        position: relative;

        .blue-bg {
          position: absolute;
          left: 0;
          top: 0;
          background: rgba(0, 95, 163, 0.65);
          width: 100%;
          height: 100%;
          display: none;
        }

        span {
          z-index: 1;
          color: #fff;
          font-size: 1.7rem;
          font-weight: 600;
        }
      }
      .card:hover {
        .blue-bg {
          display: block;
        }
      }
    }
  }

  #about-us {
    padding: $padding-main;
    .about-container {
      width: 1110px;
      display: flex;
      gap: 10px;

      .text-about {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 10%;
        h2 {
          span {
            color: $clr-blue;
          }
        }

        .p-lorem {
          font-size: 1.2rem;
          color: #3333339c;
          display: inline-block;
          width: 80%;
        }
      }

      .cards-about {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 30px;

        .card-about {
          width: 255px;
          aspect-ratio: 1;
          background: #ebebeb;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: start;
          padding: 30px;

          p {
            span {
              font-size: 4rem;
              font-weight: 800;
            }
            font-weight: 600;
          }

          a {
            text-decoration: underline;
            color: $clr-blue;
            font-weight: 600;
          }
        }

        .card-about:hover {
          background: $clr-blue;
          color: #fff;
          a {
            color: #fff;
          }
        }
      }
    }
  }

  #our-clients {
    padding: $padding-main;
    background: $bgclr-gray;
    .slider {
      .clients-traffic {
        flex-wrap: wrap;
      }
    }
  }

  #reviews {
    padding: $padding-main;
    h2 {
      margin-bottom: 50px;
    }
    .slider {
      .reviews-traffic {
        .review {
          padding: 5% 7%;
          width: 100%;
          background: $bgclr-gray;
          .text-review{
            font-size: 1.2rem;
          }

          .info-about-revuewer {
            margin-top: 5%;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 5%;
            p{
              font-weight: bold;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
